
# Elastic Beanstalk Files
.prettierrc
.env
.vscode
.vscode/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
postgres-db/*
notepad.sql
/node_modules
/package.json
/package-lock.json
out.txt